.container {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, 50%);
}
.parent-bar-holder {
    
    width: 700px;
    padding: 20px 25px;
    background-color: #343334;
}

.child-bar-holder {
    width:90%;
    margin: auto;
    padding: 12px 12px;
    padding-right: 22px;
    border-radius: 30px;
    background-color: #595659;
    border: 1px solid rgba(245, 245, 245, 0.151);
}

.bar {
    width: 100%;
    max-width: 100%;
    padding: 12px 5px;
    background-color: #F18534;
    border-radius: 10px;
}
input {
    border: 0px;
    /* margin-bottom: 10px; */
    font-size: 15px;
    padding: 10px;
    width: 80%;
    outline: 0px;
}
.input-field {
    border: 1px solid grey;
    width: 50%;
    margin-bottom: 10px;
}